<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ site.name }} - {{ page.title|title }}</title>
    <link href="{{ site.base_url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      html, body {height: 100%;}
      #wrap {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -60px;padding: 0 0 60px;}
      #footer {height: 60px;background-color: #f5f5f5;}
      #wrap > .container {padding: 60px 15px 0;}
      .container .credit {margin: 20px 0;}
      #footer > .container {padding-left: 15px;padding-right: 15px;}
      code {font-size: 80%;}
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/assets/js/respond.min.js"></script>
    <![endif]-->
  <body>
    <a href="https://github.com/Narno/openMixtape"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.base_url }}">{{ site.name}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% for key, item in nav %}
              <li{% if item.path == path %} class="active"{% endif %}><a href="{{ site.base_url }}{% if item.path != '' %}/{{ item.path }}{% endif %}">{{ item.title|e }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>{{ site.name}}</h1>
          <p class="lead"><em>{{ site.baseline }}</em></p>
        </div>
        {{ page.content }}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a href="http://narno.org/PHPoole">PHPoole</a>, coded by <a href="{{ site.author.home }}">{{ site.author.name }}</a>.</p>
      </div>
    </div>
    <script src="{{ site.base_url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.base_url }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>